.footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__github-image {
  width: 90px;
}

.footer__github-link {
  transition: opacity 100ms ease, scale 100ms ease;
  line-height: 0px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }
}

@media (max-width: $width-tablet) {
  .footer {
    width: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
  }

  .footer__github-image {
    width: 60px;
  }
}
