.menu {
  color: var(--color-white);

  &__wrapper {
    position: relative;
    padding: 20px;
    height: 100vh;

    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--color-background-dark);
  }

  &__control-panel {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
  }

  &__level-list {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;

    transition: left 200ms ease;

    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  &--list {
    .menu__level-list {
      left: 0%;
    }
  }

  &__close-button {
    display: none;
  }
}

@media (max-width: $width-tablet) {
  .menu {
    display: none;

    &--active {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;

      display: block;
      width: 100%;
      height: 100vh;

      background-color: var(--color-overlay);

      .menu__wrapper {
        position: relative;

        width: 60%;
        min-width: 400px;
        margin: 10vh auto;
        height: 70vh;
      }

      .menu__close-button {
        position: absolute;
        top: 30px;
        left: 30px;
        display: block;
      }
    }
  }
}
