.level-list {
  background-color: var(--color-background-dark);
}

.level-list__heading {
  line-height: 30px;
  margin: 0;
}

.level-list__list {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  .level-list__list-item {
    &:before {
      content: counter(custom) ' ';
    }

    &:first-child {
      counter-reset: custom;
    }
  }
}

.level-list__list-item {
  counter-increment: custom;
}

.level-list__reset-button {
  margin: 20px auto;
}
